<table>
  <% @teams.each do |team|%>
    <tr>
      <td><%= team.name %>
      <td><%= team.team %></td>
      <td><%= team.zero ? "" : "0" %></td>
      <td><%= team.one ? "" : "1" %></td>
      <td><%= team.two ? "" : "2" %></td>
      <td><%= team.three ? "" : "3" %></td>
      <td><%= team.four ? "" : "4" %></td>
      <td><%= team.five ? "" : "5" %></td>
      <td><%= team.six ? "" : "6" %></td>
      <td><%= team.seven ? "" : "7" %></td>
      <td><%= team.eight ? "" : "8" %></td>
      <td><%= team.nine ? "" : "9" %></td>
      <td><%= team.ten ? "" : "10" %></td>
      <td><%= team.eleven ? "" : "11" %></td>
      <td><%= team.twelve ? "" : "12" %></td>
    </tr>
  <% end %>
<table>
